body{
    margin: 0;
    background-color: #bdbdbd;
}
img{
    width: 100%;
    height: 100%;
}
.container > div{
    width: 19%;
    height: 30%;
    display: inline-block;
    margin: 0px .5%;
    margin-bottom: 10px;
    box-shadow: 0px 0px 20px 0px rgba(3,3,3,0.5)
}
.container > p {
    padding-top: 5px;
    padding-left: 10px;
    font-family: 'Bungee',cursive;
    color: white;
    font-size: 1.2em;
}
header{
    font-family: 'Bungee', cursive;
    text-align: center;
    background-color: black;
    color: white;
    box-shadow: 0 10px 5px rgba(3,3,3,0.5);
    position:relative;
    z-index:2;
    cursor: pointer;
}
header > p{
    font-size: 2em;
    margin: 0;
    position: relative;
    top: 10px;
}
small {
    font-family: 'Bungee Hairline', cursive;
    font-size: 1.5em;
    font-weight: bold;
    position: relative;
    bottom: 20px;
}
#main-content {
    background-color: #bdbdbd;
    position: relative;
    z-index: 1;
}
#movie-info {
    width: 100%;
    height: 35vh;
    margin-bottom: 2vh;
    padding: 30px;
}

#review-container {
    width: 100%;
    font-size: 0px;
}

.box {
    width: 50%;
    height: 100%;
    border-left: solid black 1px;
    box-sizing: border-box;
}

#reddit-container {
    background-color: #cee3f8;
    display:table-cell
}

#reddit-container > p {
    font-size: 1.1rem;
    text-align: center;
    font-family: 'Bungee',cursive;
    box-shadow: 0px 10px 15px 0px rgba(3,3,3,0.5);
    height: 62px;
}

#youtube-container {
    background-color: #bb0000;
    display:table-cell
}
#youtube-container > p {
    font-family: 'Bungee', cursive;
    font-size: 1.1rem;
    text-align: center;
    color: white;
    box-shadow: 0 10px 15px rgba(3,3,3,0.5);
    height: 62px;
}
iframe {
    width: 100%;
    height: 23%;
    margin-bottom: 2%;
}
#youtube-container iframe:last-child {
    padding-bottom: 0;
}
.contain-img{
    height: 100%;
    width: 17.5%;
    float: left;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    left: 2%;
}

.contain-info {
    display: inline-block;
    position: relative;
    width: 80%;
    font-family: 'Bungee',cursive;
    color: black;
}

.comment {
    font-size: .8rem;
    box-sizing: border-box;
    background-color: #bdbdbd;
    font-family: 'Bungee',cursive;
    color: black;
    padding: 15px;
    margin-bottom: 2%;
}
.searchWrapper {
    position: absolute;
    display: inline-block;
    right: 3%;
}
.searchWrapper > button {
    position: relative;
    right: 16%;
    border-style: none;
    background-color: transparent;
}
.searchWrapper > input {
    border-radius: 20px;
    border-style: none;
    font-family: 'Bungee', cursive;
    padding-left: 10px;
}